<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="true"
        android:largeHeap="true">

        <activity android:name=".login.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login.RegisterActivity"/>
        <activity android:name=".HomeActivity"/>
        <activity android:name=".SearchActivity"/>
        <activity android:name=".ProfileActivity"/>
        <activity android:name=".HeartActivity"/>
        <activity android:name=".ProfileEditActivity"/>
        <activity android:name=".AddActivity"/>
        <activity android:name=".ChatListActivity"/>
        <activity android:name=".ChatActivity"/>
        <activity android:name=".ProfileEditSexActivity"/>
        <activity android:name=".AddFeedActivity"/>
        <activity android:name=".HomeStoryEditActivity"/>
        <activity android:name=".ReplyActivity" android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".SearchLocationActivity"/>
        <service android:name=".DirectMessageService"/>

        <provider
            android:authorities="com.example.myapplication"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"
            />
        </provider>
    </application>

</manifest>